@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* navbar styles  */
.navbar {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.logo a {
  font-size: 18px;
  color: #111111;
}

.nav-links {
  display: flex;
}
.nav-link {
  margin-left: 1rem;
  font-size: 14px;
}
.nav-link a {
  color: #111111;
}

/* hero area styles  */
.hero-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}
.hero-info {
  margin-bottom: 4rem;
}
.hero-info h3 {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.hero-info h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.hero-info p {
  font-size: 14px;
  margin-bottom: 1.5rem;
}
.hero-info .hero-btn {
  background: #2d2d2d;
  color: #fff;
  padding: 1rem 3rem;
  display: inline-block;
}
.hero-info .hero-btn:hover {
  box-shadow: 1px 1px 10px #2d2d2d;
}

.brand-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/* services area styles */
.services-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;
}
.service {
  text-align: center;
}
.service img {
  width: 100px;
  margin-bottom: 1.3rem;
}
.service h3 {
  font-size: 18px;
  margin-bottom: 1rem;
}
.service p {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 1rem;
}

/* portfolio area styles  */
.portfolio-area {
  padding: 3rem 0;
}
.portfolio-area h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 2rem;
}
.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.project img {
  margin-bottom: 0.5rem;
}
.project h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.project p {
  font-size: 14px;
}

/* testimonial styles  */
.testimonial-area {
  padding: 3rem 0;
}
.testimonial-area h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 2rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.testimonial {
  background: #f3f3f3;
  padding: 2rem;
}
.testimonial > p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.client-profile {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.client-info p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.client-info h5 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

/* contact area styles  */
.contact-area {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.contact-info h3 {
  font-size: 20px;
  padding-bottom: 2rem;
}
.contact-info p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.social-links a {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 10px;
  color: black;
}
.contact-form {
  width: 100%;
}
.contact-form input {
  display: block;
  width: 100%;
  padding: 1.3rem;
  background: #f3f3f3;
  margin-bottom: 1rem;
  border: none;
}
.submit-btn {
  background: #2d2d2d;
  color: #fff;
  padding: 1rem 3rem;
  display: inline-block;
}
.submit-btn:hover {
  box-shadow: 1px 1px 10px #2d2d2d;
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .hero-area {
    flex-direction: row;
  }
  .hero-info {
    margin-bottom: 0;
  }
  .brand-area {
    flex-direction: row;
  }

  .services-area {
    display: flex;
    flex-direction: row;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .testimonials {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contact-area {
    flex-direction: row;
    gap: 1rem;
  }
  .contact-info {
    flex-basis: 50%;
  }
  .contact-form {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
